@viewport {
  width: device-width;
  zoom: 1.0;
}

.grid {
	display: grid;
}

.col-1 {
	grid-template-columns: auto;
}

.header {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 4em auto;
	padding: 1em;
	color: #4a4a4a
}

.header > img {
	border-radius: 50%;
	width: 4em;
	height: auto;
}

.header > h2 {
	margin: .5em;
	align-self: center;
}

.summary {
	font-size: 1.35em;
	grid-row: 1 / auto;
	font-size: 1.35em;
	position: relative;
	top: -6px;
	font-weight: bold;
}

.posts {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 2fr 10fr;
	padding-bottom: 1.5em;
	white-space: pre-wrap;
}

.posts > img {
	padding-bottom: 1em;
}

.post {
	display: grid;
	grid-template-columns: auto;
	margin-bottom: .1em;
}


.time {
	font-family: 'Merriweather Sans', sans-serif;
}

.time-center {
	align-self: center;
}

.pre {
	color: #989898;
}

.date-grid {
	display: grid;
	grid-template-columns: 10fr 0fr;
}

.date-grid > div {
	position: relative;
}

.date-grid > div > button {
	width: 2em;
	height: 2em;
	margin-top: 1em;
	font-size: 1.25em;
}

.dropdown {
	position: absolute;
	background-color: #f1f1f1;
	min-width: 2em;
	top: 4em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
}

.dropdown > a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}

button {
	background-color: #011627;
	border: none;
	border-radius: 20em;
}

textarea {
	display: block;
	font-size: 1.8rem;
	line-height: 1.618;
	color: #4a4a4a;
	font-family: 'Merriweather', serif;
	resize: none;
	overflow: hidden;
	border: none;
	outline: none;
	background-color: #f9f9f9;
	padding: 0;
	margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.change {
	position: relative;
	top: -1.8em;
	left: -2em;
}

@media (max-width: 684px) {
	.change {
		top: 0;
		left: 0;
		padding-top: .5em;
	}
	.posts {
		grid-template-columns: 3fr 10fr;
	}
}

.h3 {
	font-size: 1em;
	line-height: 1.1;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}

.file-area {
    width: 100%;
    position: relative;
    font-size: 18px;
}
.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.file-area .file-dummy {
    width: 100%;
	padding-top: 2em;
	padding-bottom: 3em;
    border: 2px dashed #ccc;
    background-color: #fff;
    text-align: center;
    transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
    display: none;
}
.file-area:hover .file-dummy {
    border: 2px dashed #1abc9c;
}
.file-area input[type=file]:valid + .file-dummy {
    border-color: #1abc9c;
}
.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}
